App_WebReferences/CustomerServicesReference/CustomerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.vlink.com.bo/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CustomerServices" targetNamespace="http://services.vlink.com.bo/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://190.104.0.116:8181/PasarelaServices_V2/CustomerServices?xsd=1" namespace="http://services.vlink.com.bo/" />
    </xsd:schema>
  </types>
  <message name="revertirPago">
    <part name="parameters" element="tns:revertirPago" />
  </message>
  <message name="revertirPagoResponse">
    <part name="parameters" element="tns:revertirPagoResponse" />
  </message>
  <message name="solicitarPagoAsincrono">
    <part name="parameters" element="tns:solicitarPagoAsincrono" />
  </message>
  <message name="solicitarPagoAsincronoResponse">
    <part name="parameters" element="tns:solicitarPagoAsincronoResponse" />
  </message>
  <message name="solicitarPago">
    <part name="parameters" element="tns:solicitarPago" />
  </message>
  <message name="solicitarPagoResponse">
    <part name="parameters" element="tns:solicitarPagoResponse" />
  </message>
  <message name="consultarEstado">
    <part name="parameters" element="tns:consultarEstado" />
  </message>
  <message name="consultarEstadoResponse">
    <part name="parameters" element="tns:consultarEstadoResponse" />
  </message>
  <portType name="CustomerServices">
    <operation name="revertirPago">
      <input wsam:Action="http://services.vlink.com.bo/CustomerServices/revertirPagoRequest" message="tns:revertirPago" />
      <output wsam:Action="http://services.vlink.com.bo/CustomerServices/revertirPagoResponse" message="tns:revertirPagoResponse" />
    </operation>
    <operation name="solicitarPagoAsincrono">
      <input wsam:Action="http://services.vlink.com.bo/CustomerServices/solicitarPagoAsincronoRequest" message="tns:solicitarPagoAsincrono" />
      <output wsam:Action="http://services.vlink.com.bo/CustomerServices/solicitarPagoAsincronoResponse" message="tns:solicitarPagoAsincronoResponse" />
    </operation>
    <operation name="solicitarPago">
      <input wsam:Action="http://services.vlink.com.bo/CustomerServices/solicitarPagoRequest" message="tns:solicitarPago" />
      <output wsam:Action="http://services.vlink.com.bo/CustomerServices/solicitarPagoResponse" message="tns:solicitarPagoResponse" />
    </operation>
    <operation name="consultarEstado">
      <input wsam:Action="http://services.vlink.com.bo/CustomerServices/consultarEstadoRequest" message="tns:consultarEstado" />
      <output wsam:Action="http://services.vlink.com.bo/CustomerServices/consultarEstadoResponse" message="tns:consultarEstadoResponse" />
    </operation>
  </portType>
  <binding name="CustomerServicesPortBinding" type="tns:CustomerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="revertirPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="solicitarPagoAsincrono">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="solicitarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CustomerServices">
    <port name="CustomerServicesPort" binding="tns:CustomerServicesPortBinding">
      <soap:address location="https://190.104.0.116:8181/PasarelaServices_V2/CustomerServices" />
    </port>
  </service>
</definitions>